{% extends 'grappelli_admin_change_form.html' %}

<!-- LOADING -->
{% load static i18n admin_modify admin_urls grp_tags %}

{% block submit_buttons_bottom %}
    <footer class="grp-module grp-submit-row grp-fixed-footer">
    <header style="display:none"><h1>Submit Options</h1></header>
<ul>


        <li><input id="save" type="submit" value="Копировать" class="grp-button grp-default" name="_save"

        style="background-image: linear-gradient(#4ffa3b,#309bbf);"
        /></li>


    </ul>
</footer>
{% endblock %}